/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */
#name-and-slogan {
  float: left;
  margin-bottom: 10px;
  margin-top: 30px;
}

#main-content {
  margin-left: 20px;
}

.flexslider .slides img {
  width: 410px;
  float: left;
}

.flexslider ul.slides li img {
  padding-right: 10px;
}
